.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.blogItem h3 {
  cursor: pointer;
}

.blogItemP {
  max-width: 45vw;
}

.btn {
  color: white;
  background: black;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 0.7rem;
}
