.container {
  max-width: 45vw;
  margin: 0 auto;
}

.mb3 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.formlabel {
  padding: 7px 0px;
}

.input {
  padding: 3px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid black;
}

.formhelp {
  font-size: 0.8rem;
  color: gray;
  padding: 7px 0 0;
}

.btn {
  color: #fff;
  background: rgb(40, 160, 40);
  border: 1px solid #fff;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 0.9rem;
}
.btn:hover {
  color: rgb(40, 160, 40);
  background: #fff;
  border: 1px solid rgb(40, 160, 40);
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 88vw;
  }
}
